# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  workflow_run:
    workflows: [Tests]
    types: [completed]
    branches:
      - main
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hardened Images registry
        uses: docker/login-action@v3
        with:
          registry: dhi.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to Fly.io registry
        uses: docker/login-action@v3
        with:
          registry: registry.fly.io
          username: x
          password: ${{ secrets.FLY_API_TOKEN }}
      - name: Build and push image
        run: |
          docker build -t registry.fly.io/books-tracker:${{ github.event.workflow_run.head_sha }} .
          docker push registry.fly.io/books-tracker:${{ github.event.workflow_run.head_sha }}
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --image registry.fly.io/books-tracker:${{ github.event.workflow_run.head_sha }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
